<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Pesquisar" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="filtro" tabIcon="funnel"></ion-tab>
</ion-tabs>
