<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content >
  <!-- <ion-auto-complete 
  [dataProvider]="bancoService"
   style="margin-top: 10px; width: 100% ">

  </ion-auto-complete> -->

  <ion-searchbar (ionInput)="getBancos($event)"></ion-searchbar>
  <ion-list>
    <ion-item  *ngFor="let banco of topics">
        {{banco}}
    </ion-item>
  </ion-list>
</ion-content>
