<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map" style="height:100%"></div>

  <ion-fab bottom right >
    <button ion-fab color="secondary">
      <ion-icon name="clock"></ion-icon>
    </button>  
    <ion-fab-list side="top" color="primary">
      <button ion-fab>1</button>
      <button ion-fab>2</button>
      <button ion-fab>3</button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab>4</button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
